body{
	text-align: center;
	font-family:"Verdana";
	background-color: #003373; /*#004D83*/
}
h1{
	color: #FFF;
	font-size:25px;
}
#printers{
	margin: 0 auto;
	width:480px;
	border-radius: 25px;
	color#EBF2F9:;
	background-color:#FFF;
	padding:5px;
	text-align: center;
}
.printer-link{ font-size:18px; }
a{ color: #004D83; }
img{ margin-top:20px; }
table{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}
.page{
	outline: none;
	margin-top:20px;
}
